.page-section_gallery {
  .page-section__title {
    margin-bottom: 1rem;
    @media (min-width: 991px) {
      margin-top: 0;
    }
  }
  .gallery-cards-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    @media (min-width: 991px) {
      margin-top: -3.75rem;
      flex-wrap: wrap;
      overflow: unset;
    }
    .gallery-card {
      border: 1px solid $dusty-pink;
      padding: 2.5rem;
      display: block;
      position: relative;
      width: 256px;
      flex: none;
      @media (min-width: 991px) {
        width: auto;
      }
      &:first-of-type {
        margin-top: 0;
        @media (min-width: 991px) {
          margin-top: 7.25rem;
        }
      }
      .gallery-card__image {
        margin-bottom: 0.75rem;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          @include transition;
        }
        .bg-overlay {
          position: absolute;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.36) 100%);
          mix-blend-mode: normal;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          @include transition;
        }
      }
      .gallery-card__text {
        @include transition;
        p {
          color: $text-grey;
          margin-bottom: 0;
          @include transition;
        }
      }
      &:hover {
        .gallery-card__text {
          transform: translate(25px, -60px);
          p {
            color: $light;
          }
        }
        .gallery-card__image {
          img {
            transform: scale(1.1);
          }
        }
        .bg-overlay {
          opacity: 1;
        }
      }
    }
  }
}
