.page-section_gallery {
  .page-section__title {
    margin-bottom: 1rem;
    @media (min-width: 991px) {
      margin-top: 0;
    }
  }
  .gallery-cards-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    @media (min-width: 991px) {
      margin-top: -3.75rem;
      overflow: unset;
    }
    .gallery-card {
      border: 1px solid $dusty-pink;
      padding: 2.5rem;
      display: block;
      position: relative;
      width: 256px;
      flex: none;
      @media (min-width: 991px) {
        width: auto;
      }
      &:first-of-type {
        margin-top: 0;
        @media (min-width: 991px) {
          margin-top: 7.25rem;
        }
      }
      .gallery-card__image {
        margin-bottom: 0.75rem;
        position: relative;
        img {
          width: 100%;
        }
      }
      .gallery-card__text {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
