/*
              Table of Content
              1: Global CSS
              2: Headings
              3: Fonts Family
              4: Font Colors
              5: Font Size
              6: Font-Weight
              7: Margins
              8: Paddings
              9: Return to Top
              10: Page Not Found
              11: Border-radius
              12: Positions
             
*/

// 1: Global CSS Start
body {
  font-family: $Inter;
  overflow-x: hidden;
  position: relative;
  color: $text-dark;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  font-weight: 400;
}
@media (min-width: 1024px) {
  body {
    font-size: 0.875rem;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
}
i {
  @include transition();
}
a {
  text-decoration: none;
  @include transition();
}
ul,
ol {
  padding-left: 0;
}
img {
  max-width: 100%;
}

.page-section {
  padding-bottom: 3.75rem;
  position: relative;
  @media (min-width: 991px) {
    padding-bottom: 7.5rem;
  }
  .page-section__title {
    margin-bottom: 1rem;
    @media (min-width: 991px) {
      margin-bottom: 3.75rem;
    }
    & > h5 {
      color: $primary;
      text-transform: uppercase;
    }
  }
  .page-section__title--white h5 {
    color: $light;
  }
}
// 1: Global CSS End

//2: Headings Start

//2: Headings End

// 3: Fonts Family Start

// 3: Fonts Family End

// 4: Font Colors Start
.text-danger {
  color: red;
}
.text-grey {
  color: $text-grey !important;
}
.text-secondary {
  color: $secondary !important;
}
// 4: Font Colors End

// 5: Font Size Start
.font-8 {
  font-size: 0.5rem !important;
}
.font-10 {
  font-size: 0.625rem !important;
}
.font-12 {
  font-size: 0.75rem !important;
}
.font-14 {
  font-size: 0.875rem !important;
}
.font-16 {
  font-size: 1rem !important;
}
.font-18 {
  font-size: 1.125rem !important;
}
.font-20 {
  font-size: 1.25rem !important;
}
.font-24 {
  font-size: 1.5rem !important;
}
.font-32 {
  font-size: 2rem !important;
}
.font-36 {
  font-size: 2.25rem !important;
}
.font-40 {
  font-size: 2.5rem !important;
}
.font-48 {
  font-size: 3rem !important;
}
.ls-1 {
  letter-spacing: 1px;
}
// 5: Font Size End

// 6: Font Weights Start
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
// 6: Font Weights End

// 7: margins
.mr-20 {
  margin-right: 1.25rem;
}
.mr-32 {
  margin-right: 2rem;
}
// 8: padding end

// 8: padding
.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-22 {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}
.py-36 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.py-70 {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

// 8: padding end

.custom-space-left {
  padding: 0 2rem 8.5rem 1rem;
  margin-left: 1rem;
  @media (max-width: 785px) and (min-width: 576px) {
    padding: 0 3rem 8.5rem 1.5rem;
    margin-left: 1.5rem;
  }

  @media (max-width: 991px) and (min-width: 786px) {
    padding: 0 4rem 12.5rem 2rem;
    margin-left: 2rem;
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    padding: 0 5.5rem 12.5rem 2.75rem;
    margin-left: 2.75rem;
  }

  @media (max-width: 1680px) and (min-width: 1201px) {
    padding: 0 7.5rem 22.875rem 3.75rem;
    margin-left: 3.75rem;
  }

  @media (min-width: 1681px) {
    padding: 0 15rem 22.875rem 3.75rem;
    margin-left: 11.25rem;
  }
}

.custom-space-right {
  padding: 0 1rem 8.5rem 2rem;
  margin-right: 1rem;
  @media (max-width: 785px) and (min-width: 576px) {
    padding: 0 1.5rem 8.5rem 3rem;
    margin-right: 1.5rem;
  }

  @media (max-width: 991px) and (min-width: 786px) {
    padding: 0 2rem 12.5rem 4rem;
    margin-right: 2rem;
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    padding: 0 2.75rem 12.5rem 5.5rem;
    margin-right: 2.75rem;
  }

  @media (max-width: 1680px) and (min-width: 1201px) {
    padding: 0 3.75rem 22.875rem 7.5rem;
    margin-right: 3.75rem;
  }

  @media (min-width: 1681px) {
    padding: 0 3.75rem 22.875rem 15rem;
    margin-right: 11.25rem;
  }
}

.img-custom-space-left {
  margin-top: calc(6rem - 12rem);
  padding-left: 2rem;

  @media (max-width: 785px) and (min-width: 576px) {
    padding-left: 3rem;
  }

  @media (max-width: 991px) and (min-width: 786px) {
    margin-top: -9.5rem;
    padding-left: 4rem;
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    margin-top: -9.5rem;
    padding-left: 5.5rem;
  }

  @media (max-width: 1680px) and (min-width: 1201px) {
    margin-top: calc(16.8125rem - 35.3125rem);
    padding-left: 7.5rem;
  }

  @media (min-width: 1681px) {
    margin-top: calc(16.8125rem - 35.3125rem);
    padding-left: 15rem;
  }

  img {
    width: 100%;
    @media (min-width: 1440px) {
      height: 565px;
    }
  }
}

.img-custom-space-right {
  margin-top: calc(6rem - 12rem);
  padding-right: 2rem;

  @media (max-width: 785px) and (min-width: 576px) {
    padding-right: 3rem;
  }

  @media (max-width: 991px) and (min-width: 786px) {
    margin-top: -9.5rem;
    padding-right: 4rem;
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    margin-top: -9.5rem;
    padding-right: 5.5rem;
  }

  @media (max-width: 1680px) and (min-width: 1201px) {
    margin-top: calc(16.8125rem - 35.3125rem);
    padding-right: 7.5rem;
  }

  @media (min-width: 1681px) {
    margin-top: calc(16.8125rem - 35.3125rem);
    padding-right: 15rem;
  }

  img {
    width: 100%;
    @media (min-width: 1440px) {
      height: 565px;
    }
  }
}
