.container {
  max-width: calc(100% - (2rem + 2rem) + 2rem);
}

@media (max-width: 785px) and (min-width: 576px) {
  .container {
    max-width: calc(100% - (3rem + 3rem) + 3rem);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (max-width: 991px) and (min-width: 786px) {
  .container {
    max-width: calc(100% - (4rem + 4rem) + 4rem);
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .container {
    max-width: calc(100% - (5.5rem + 5.5rem) + 5.5rem);
    padding-right: 2.75rem;
    padding-left: 2.75rem;
  }
}

@media (max-width: 1680px) and (min-width: 1201px) {
  .container {
    max-width: calc(100% - (7.5rem + 7.5rem) + 7.5rem);
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }
}
@media (min-width: 1681px) {
  .container {
    max-width: calc(100% - (15rem + 15rem) + 7.5rem);
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }
}
