$menu-item-height: 50px; // Every menu item has this height
$dropdown-max-rows: 2;

header {
  margin-bottom: 10rem;
  @media (min-width: 991px) {
    margin-bottom: 15.375rem;
  }
  .header-section-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: $dusty-pink;
    @include transition;
  }

  .social-links__link i {
    color: $text-grey;
    @include transition;
    font-size: 1rem;
  }
  @media (min-width: 991px) {
    .social-links__link i {
      font-size: 1.25rem;
    }
  }
  .social-links__link {
    line-height: 1;
  }
  .social-links__link:hover i {
    color: $primary;
  }
  .navbar-section {
    padding: 0 2rem 0 1rem;
    margin-left: 1rem;
    background: $light;
    @media (max-width: 785px) and (min-width: 576px) {
      padding: 0 3rem 0 1.5rem;
      margin-left: 1.5rem;
    }
    @media (max-width: 991px) and (min-width: 786px) {
      padding: 0 4rem 0 2rem;
      margin-left: 2rem;
    }
    @media (max-width: 1200px) and (min-width: 992px) {
      padding: 0 5.5rem 0 2.75rem;
      margin-left: 2.75rem;
    }
    @media (max-width: 1680px) and (min-width: 1201px) {
      padding: 0 7.5rem 0 3.75rem;
      margin-left: 3.75rem;
    }
    @media (min-width: 1681px) {
      padding: 0 15rem 0 3.75rem;
      margin-left: 11.25rem;
    }
    .navbar {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
      @include transition;
      @media (min-width: 991px) {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
      }
      .navbar-brand {
        img {
          width: 6.625rem;
          @media (min-width: 991px) {
            width: auto;
          }
        }
      }
    }
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link {
    color: $text-dark;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 400;
    padding-left: 3.75rem;
    @include transition;
    &:last-of-type {
      padding-right: 0;
    }
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: $primary;
  }
  .navbar-light .navbar-toggler {
    border: none;
    padding: 0;
  }
  @media (max-width: 991.98px) {
    .navbar-collapse {
      padding: 34px 32px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      overflow-y: scroll;
      background: $primary;
      display: block !important;
      color: $light;
      -webkit-transform: translate(-100%, 0);
      -moz-transform: translate(-100%, 0);
      -o-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      @include transition;
      &.show {
        transform: none;
      }
      .side-menu-header {
        padding-bottom: 3.5rem;
      }
    }
    .navbar-light .navbar-nav .nav-link,
    .navbar-expand-lg .navbar-nav .nav-link {
      color: $light;
      padding: 1rem 0;
      border-top: 1px solid rgba(196, 196, 196, 0.1);
    }
  }
}
header .top-bar-moveup {
  margin-top: -3.75rem;
  border-bottom: 1px solid $mid-grey;
  background-color: $light;
}
@media (min-width: 991px) {
  header .navbar-section .navbar-shrink {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
