@mixin transition {
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@mixin h3-prop {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-family: $Galaxie;
  font-weight: 400;
}
@mixin paragraph-prop-sm {
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
  font-family: $Inter;
  font-weight: 400;
}
